# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  scrape_timeout: 15s # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets: ["{{ alerts.targets }}:9093"]

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "./rules/*.rules"
  - "./alerts/*.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
#  - job_name: 'prometheus'
#    # metrics_path defaults to '/metrics'
#    # scheme defaults to 'http'.
#    static_configs:
#      - targets: ['localhost:9090']

  - job_name: 'federate_sys_openshift'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    scrape_interval: 10s
    scrape_timeout: 10s
    honor_labels: true
    metrics_path: '/federate'
    relabel_configs:
    - replacement: "openshift"
      target_label: "instance_group"
    params:
      'match[]':
       - '{job=~"kubernetes-nodes-exporter|openshift-router"}'
    static_configs:
      - targets:
        - '{{ prometheus.address_openshift }}'

  - job_name: 'vm_elasticsearch_exporter'
    scrape_interval: 30s
    metrics_path: "/metrics"
    file_sd_configs:
      - files:
        - targets/elasticsearch.json

  - job_name: 'vm_node_exporter'
    file_sd_configs:
      - files:
        - targets/node_exporter.json
    metric_relabel_configs:
    - source_labels: ['__name__']
      action: drop
      regex: 'node_filesystem_(free|size|device_error)'
    - source_labels: ['__name__']
      regex: 'node_(netstat_(Ip|Icmp|Udp6|TcpExt).+|vmstat_(.*)|timex_(.*))'
      action: drop
    - source_labels: ['__name__']
      action: drop
      regex: 'node_network_(transmit|receive)_(drop|errs|fifo)_total'
    - source_labels: [fstype]
      action: drop
      regex: 'iso9660|rootfs|(.*)tmpfs'
    - source_labels: [device]
      action: drop
      regex: 'lo|veth.+|br0|ovs-system|docker0'
    - source_labels: [instance]
      regex: (.+):(?:\d+)
      target_label: instance
      replacement: ${1}

  - job_name: 'vm_rabbitmq_exporter'
    scrape_interval: 30s
    scrape_timeout: 30s
    file_sd_configs:
      - files:
        - targets/rabbitmq.json
