# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
       - '{{ alerts.targets }}:9093'
  alert_relabel_configs:
  - replacement: "app"
    target_label: "owner"

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "./rules/*.rules"
  - "./alerts/*.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  - job_name: federate_app_openshift
    scheme: https
    tls_config:
      insecure_skip_verify: true
    honor_labels: true
    params:
      match[]:
      - '{job=~".+", job!="kubernetes-nodes-exporter", job!="openshift-router"}'
    scrape_interval: 15s
    scrape_timeout: 15s
    metrics_path: '/federate'
    static_configs:
    - targets:
      - '{{ prometheus.address_openshift }}'
