global:
  resolve_timeout: 10s
route:
  receiver: alert
  group_by:
  - alertname
  group_wait: {{alerts.group_wait}}
  group_interval: {{alerts.group_interval}}
  repeat_interval: {{alerts.repeat_interval}}
inhibit_rules:
- source_match:
    severity: critical
  target_match:
    severity: warning
receivers:
- name: alert
  slack_configs:
  - send_resolved: true
    http_config: {}
    api_url: '{{alerts.slack_web_hook}}'
    channel: '{{alerts.slack_channel}}'
{% raw %}
    title: |-
      [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
    text: >-
      {{ with index .Alerts 0 -}}
        :chart_with_upwards_trend: *<{{ .GeneratorURL }}|Graph>*
        {{- if .Labels.runbook }}   :notebook: *<{{ .Labels.runbook }}|Runbook>*{{ end }}
      {{ end }}
      *Alert details*:
      {{ range .Alerts -}}
        *Alert:* {{ .Annotations.title }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}
      *Description:* {{ .Annotations.description }}
      *Details:*
        • *instance:* `{{ .Labels.instance }}`
        • *job:* `{{ .Labels.job }}`
      {{ end }}
{% endraw %}
templates: []
