PROMETHEUS_OPTS='--config.file={{prometheus.config_dir}}/prometheus.yml --storage.tsdb.path={{prometheus.data_dir}} --storage.tsdb.retention={{prometheus.storage_retention}} --web.enable-lifecycle --web.enable-admin-api'
