{% if inventory_hostname in groups['rabbitmq_exporter_graylog']%}
RABBIT_URL="http://{{inventory_hostname}}:15672"
{% elif inventory_hostname in groups['rabbitmq_exporter_app']%}
RABBIT_URL="https://{{inventory_hostname}}:15672"
SKIPVERIFY="true"
{% endif %}
RABBIT_USER="{{rabbitmq_exporter.RABBIT_USER}}"
RABBIT_PASSWORD="{{rabbitmq_exporter.RABBIT_PASSWORD}}"
PUBLISH_PORT="{{rabbitmq_exporter.PUBLISH_PORT}}"
LOG_LEVEL="{{rabbitmq_exporter.LOG_LEVEL}}"
